#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    grid-auto-rows: 210px;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid 2px;
    overflow: hidden;
}

.cardHeader {
    margin: 0;
    text-align: center;
    background-color: rgb(230, 162, 36);
}

.cardInfo {
    height: 100%;
    padding: 20px 0 0 5px;
    background-color: rgb(245, 168, 27);
}

.cardHeader > p {
    margin: 0px;
}

.cardInfo > p {
    margin: 0px;
}